anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
branca
Brotli
brotlipy
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
cryptography
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
entrypoints
et-xmlfile
executing
fastjsonschema
Fiona
Flask
Flask-Compress
flit_core
folium
fonttools
numpy
geopandas
gunicorn
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
mapclassify
MarkupSafe
matplotlib
matplotlib-inline
mistune
munch
munkres
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
openpyxl
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pip
plotly
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyproj
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
requests
Rtree
scikit-learn
scipy
Send2Trash
setuptools
Shapely
six
sniffio
snuggs
soupsieve
stack-data
tenacity
terminado
testpath
threadpoolctl
tornado
traitlets
unicodedata2
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
wheel
win-inet-pton
xyzservices
zipp
affine
